[package]
name = "cipher-paratime"
version = "2.5.0-testnet"
authors = ["Oasis Protocol Foundation <info@oasisprotocol.org>"]
edition = "2018"
license = "Apache-2.0"

[package.metadata.orc.release]
runtime-id = "000000000000000000000000000000000000000000000000e199119c992377cb"

[package.metadata.orc.test]
runtime-id = "0000000000000000000000000000000000000000000000000000000000000000"

[package.metadata.fortanix-sgx]
heap-size = 134217728
stack-size = 2097152
threads = 6
debug = false

[dependencies]
cipher-keymanager = { path = "../keymanager" }

# SDK.
oasis-runtime-sdk = { git = "https://github.com/oasisprotocol/oasis-sdk", rev = "cca69ecc53bfa3909198aae5ed4f7af6662cd39b" }
module-contracts = { git = "https://github.com/oasisprotocol/oasis-sdk", rev = "cca69ecc53bfa3909198aae5ed4f7af6662cd39b", package = "oasis-runtime-sdk-contracts" }

# Third party.
once_cell = "1.8.0"
