[package]
name = "cipher-paratime"
version = "2.6.0-testnet"
authors = ["Oasis Protocol Foundation <info@oasisprotocol.org>"]
edition = "2018"
license = "Apache-2.0"

[package.metadata.orc.release]
runtime-id = "000000000000000000000000000000000000000000000000e199119c992377cb"

[package.metadata.orc.test]
runtime-id = "0000000000000000000000000000000000000000000000000000000000000000"

[package.metadata.fortanix-sgx]
heap-size = 134217728
stack-size = 2097152
threads = 6
debug = false

[dependencies]
cipher-keymanager = { path = "../keymanager" }

# SDK.
oasis-runtime-sdk = { git = "https://github.com/oasisprotocol/oasis-sdk", rev = "b8e5f8f8c725eaf28f643f221930b55775b5a765" }
module-contracts = { git = "https://github.com/oasisprotocol/oasis-sdk", rev = "b8e5f8f8c725eaf28f643f221930b55775b5a765", package = "oasis-runtime-sdk-contracts" }

# Third party.
once_cell = "1.8.0"
